<?xml version="1.0"?>
<SettingsXml xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- steam credentials for login -->
	<SteamUsername></SteamUsername>
	<SteamPassword></SteamPassword>

	<!-- optional steam webapi key, for customurl lookups -->
	<WebAPIKey></WebAPIKey>
	
	<!-- irc details -->
	<IRCServer></IRCServer>
	<IRCPort>6667</IRCPort> <!-- will use 6667 by default, if missing -->
	<IRCNick></IRCNick>
	
	<!-- irc channels -->
	<!-- ex:
		<IRCChannels>
			<Chan Channel="#opensteamworks" Tag="steam,steam-logon,main" />
		</IRCChannels>
	-->
	<IRCChannels>
	</IRCChannels>

	<!-- admins that can use admin-only commands -->
	<!-- ex:
		<IRCAdmins>
			<Admin>irc-hostname.com</Admin>
		</IRCAdmins>
	-->
	<IRCAdmins>
	</IRCAdmins>

	<!-- the app we want to maintain a gc session with -->
	<GCApp>440</GCApp>
	
	<!-- apps which are tracked for updates -->
	<ImportantApps>
		<App AppID="440" />		<!-- Team Fortress 2 -->
		<App AppID="520" />		<!-- Team Fortress 2 Beta -->
		<App AppID="240" />		<!-- Counter-Strike: Source -->
		<App AppID="730" />		<!-- Counter-Strike: Global Offensive -->
		<App AppID="320" />		<!-- Half-Life 2: Deathmatch -->
		<App AppID="300" />		<!-- Day of Defeat: Source -->
		<App AppID="570" Tag="dota" />		<!-- Dota 2 -->
		<App AppID="205790" Tag="dota" />	<!-- Dota 2 Test -->
		<App AppID="4000" />	<!-- Garry's Mod -->
	</ImportantApps>

	<!-- local filesystem path to where app/package info should be served from -->
	<WebPath></WebPath>
	<!-- the root url for the website hosting app/packageinfo -->
	<WebURL></WebURL>
	<!--
		ex:
		<WebPath>C:\inetpub\MySite\</WebPath>
		<WebURL>http://mysite.com</WebURL>
	-->
  
	<SteamDBChangelistURL>http://steamdb.info/changelist/{0}/</SteamDBChangelistURL>
	<SteamDBAppHistoryURL>http://steamdb.info/app/{0}/#section_history</SteamDBAppHistoryURL>
	<SteamDBPackageHistoryURL>http://steamdb.info/sub/{0}/#section_history</SteamDBPackageHistoryURL>

	<RssFeeds>
		<Feed URL="http://blog.dota2.com/feed/" />
		<Feed URL="http://www.l4d.com/blog/rss.xml" />
		<Feed URL="http://www.teamfortress.com/rss.xml" />
		<Feed URL="http://www.thinkwithportals.com/rss.xml" />
		<Feed URL="http://blog.counter-strike.net/index.php/feed/" />
		<Feed URL="http://www.sourcefilmmaker.com/rss.xml" />
		<Feed URL="http://blogs.valvesoftware.com/feed/" />
		<Feed URL="http://www.teachwithportals.com/index.php/feed/" />
		<Feed URL="http://store.steampowered.com/feeds/news.xml" IsRss10="true" />
	</RssFeeds>

	<!-- knowledge is power -->
	<BrunoQuotes>
		<Quote>I think the problem with EG was a surplus of legs. Look at tongfu's lineup: Naga - no legs, Venomancer - no legs, Morphling - no legs, Enigma - no legs, Lina has two legs but she's flying so she doesn't use it. That's the strat right there.</Quote>
		<Quote>You pick an Anti-Mage who has a 50% chance of winning... You pick a Lycan who has a 65% chance of winning... That makes you a 115% chance of winning. There's no way to lose!</Quote>
		<Quote>Actually I have no favorite because no matter who wins, we get to see a funny interview at the end</Quote>
		<Quote>You know, we've been there for 16 hours but it only looked like it was 15 and a half.</Quote>
		<Quote>I don't know if you've seen Navi vs DK game 3, but you should because it was awesome and Dendi was in it.</Quote>
		<Quote>As we get sleepier and sleepier the quality of the jokes will be going down and down but hopefully you can laugh not with our joke, but at us.</Quote>
		<Quote>I mean, I'm a software developer but who needs computers?</Quote>
		<Quote>I'm just going to keep talking because I move my mouth and words come out.</Quote>
		<Quote>That's how we rrrrrrrrroll.</Quote>
		<Quote>I've never been to a map, they're too small for me to stand on.</Quote>
		<Quote>Amazing here I am!</Quote>
		<Quote>Shake it Shake it Shake it like a Polaroid picture</Quote>
		<Quote>I am magic itself</Quote>
		<Quote>They banned the Lich. Lich is this guy, who used to love the colour blue. And sadly, he loved it too much that he painted himself blue, ripped his lips, and bound himself into chains. Blue Chains. And that somehow gave him powers, to turn things around, and, after that. Do I look better?</Quote>
		<Quote>Weppas, see you tomorrow. But most importantly, see ~YOU~ tomorrow. Well, I can't see you, you can see me. Unless if you're camera shaped, I really can't see you.</Quote>
	</BrunoQuotes>

	
</SettingsXml>
