<?xml version="1.0"?>
<SettingsXml xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- steam credentials for login -->
	<SteamUsername></SteamUsername>
	<SteamPassword></SteamPassword>

	<!-- optional steam webapi key, for customurl lookups -->
	<WebAPIKey></WebAPIKey>
	
	<!-- irc details -->
	<IRCServer></IRCServer>
	<IRCPort>6667</IRCPort> <!-- will use 6667 by default, if missing -->
	<IRCNick></IRCNick>
	
	<!-- irc channels -->
	<IRCAnnounceChannel></IRCAnnounceChannel>
	<IRCMainChannel></IRCMainChannel>
	<IRCAuxChnnel></IRCAuxChnnel>

	<!-- the app we want to maintain a gc session with -->
	<GCApp>440</GCApp>
	
	<!-- apps which are tracked for updates -->
	<ImportantApps>
		<AppID>440</AppID>		<!-- Team Fortress 2 -->
		<AppID>520</AppID>		<!-- Team Fortress 2 Beta -->
		<AppID>240</AppID>		<!-- Counter-Strike: Source -->
		<AppID>730</AppID>		<!-- Counter-Strike: Global Offensive -->
		<AppID>320</AppID>		<!-- Half-Life 2: Deathmatch -->
		<AppID>300</AppID>		<!-- Day of Defeat: Source -->
		<AppID>570</AppID>		<!-- Dota 2 -->
		<AppID>205790</AppID>	<!-- Dota 2 Test -->
		<AppID>4000</AppID> 	<!-- Garry's Mod -->
	</ImportantApps>

	<!-- local filesystem path to where app/package info should be served from -->
	<WebPath></WebPath>
	<!-- the root url for the website hosting app/packageinfo -->
	<WebURL></WebURL>
	<!--
		ex:
		<WebPath>C:\inetpub\MySite\</WebPath>
		<WebURL>http://mysite.com</WebURL>
	-->
  
	<SteamDBChangelistURL>http://steamdb.info/changelist/{0}/</SteamDBChangelistURL>
	<SteamDBAppHistoryURL>http://steamdb.info/app/{0}/#section_history</SteamDBAppHistoryURL>
	<SteamDBPackageHistoryURL>http://steamdb.info/sub/{0}/#section_history</SteamDBPackageHistoryURL>

	<RssFeeds>
		<Feed URL="http://blog.dota2.com/feed/" />
		<Feed URL="http://www.l4d.com/blog/rss.xml" />
		<Feed URL="http://www.teamfortress.com/rss.xml" />
		<Feed URL="http://www.thinkwithportals.com/rss.xml" />
		<Feed URL="http://blog.counter-strike.net/index.php/feed/" />
		<Feed URL="http://www.sourcefilmmaker.com/rss.xml" />
		<Feed URL="http://blogs.valvesoftware.com/feed/" />
		<Feed URL="http://www.teachwithportals.com/index.php/feed/" />
		<Feed URL="http://store.steampowered.com/feeds/news.xml" IsRss10="true" />
	</RssFeeds>

	<BrunoQuotes>
	</BrunoQuotes>

	
</SettingsXml>
